/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
    height: 100vh;
}


body {
    background-image: linear-gradient(rgb(255, 189, 57), rgb(248, 228, 2));
    font-family: sans-serif;
}

header {
    text-align: center;
}



/******************************************
/* LAYOUT
/*******************************************/
.section-container {
    display: flex;
    justify-content: center;
    
}
.column {
    margin: 50px;
}

.item {
    padding: 10px;
}

.item img {
    padding-top: 10px;
    max-width: 600px;
    max-height: 700px;
}

.item h2 {
    margin: 0;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.item li {
    font-size: 20px;
    list-style: none;
    line-height: 2;
}

#dog-name{
    font-size: 35px;
    color: darkblue;
    text-decoration: underline;
}

h2 {
    font-size: 25px;
    text-decoration: underline;
}

ul li {
    font-weight: 400;
}